input[type="text"],
button
  padding: 0.5rem 1rem
  border: 1px solid #ccc
  border-radius: 8px
  font-size: 1rem
  outline: none

input[type="text"]
  width: 100%
  max-width: 300px
  margin-bottom: 1rem

button
  background-color: $primary-color
  color: white
  border: none
  cursor: pointer
  transition: background-color 0.3s ease

  &:hover
    background-color: darken($primary-color, 10%)
